<ion-view view-title="{{list.name}}">
  <ion-content class="padding">
    <h2>{{list.description}} </h2>
    <ion-list>  
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in list.items" type="item-text-wrap">
            <p><b>{{item.name}}:</b> {{item.qtd}} {{item.unity}}  </p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="removeItem(list.id, item)">
              Delete
            </ion-option-button>
        </ion-item>
    <ion-list>
  </ion-content>
  <button class="button button-float button-assertive" ng-click="changePageByLocation('/tab/lists/'+{{list.id}}+'/add')">
      <i class="icon ion-plus"></i>
  </button>
</ion-view>
